
body {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(https://wallpapers.com/images/featured/7xpryajznty61ra3.jpg);

  }
  
table {
    position:auto;  
    border-collapse: collapse;
    width: 87%;
    height:400px;
    margin-bottom: 20px;
    min-width: 300px;
    margin:25px 0;
    left:50%;
    bottom:50%;
  }

  th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #000000;
    color:#000000
  }
  
  th {
    background-color: #e74900d6;
    color:#fcfcfc
  }
  
  thead {
    font-weight: bold;
    color:#fcfcfc
  }
  
  table {
    background-color: #ffffffc6;
    margin: 0 auto;
  }
  
  h1{
    color:#fcfcfc
  }
